


    $overflow: hidden;
    $background: #005672;
    $position: fixed;
    $top: 0;
    $width: 100%;


    $float: left;
    $display: block;
    $color: #f2f2f2;
    $text-align: center;
    $pad: 14px 16px;
    $decoration: none;
    $size: 17px;
  

    $color-hover: #777;
  
$color-font:black;

    $width-nav: 200px;
    $height-nav: 150px;
    $overflow: auto;




    $padding: 12px;





    $background-nav: rgb(104, 204, 230);


        $padding-footer: 25px;

